*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style-type: none;
  /* margin-left: 20px; */
}
/* li::before {
  content: "-";
  color: #f42828;
  font-weight: bold;
  display: inline-block; 
  font-size: 1.15rem;
  font-weight: 900;
  width: 1em;
  margin-left: -1em;
} */


html, body {
  /* min-height: 100%; */
  margin: 0;
}

.footer-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(71, 71, 71);
  height: 40px;
  width: 40px;
  margin-right: 10px !important;
  transition: 0.2s ease-out;
}

.footer-icon:hover{
  background: #f42828;
  border: 1px solid #f42828;
  transition: 0.4s ease-in;
}

.footer {
padding: 5rem 0;
}

.footer *{
  color: white;
}