.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 90vh;
  object-fit: cover;
  position: relative;
}
.swiper-button-next,
.swiper-button-prev {
  color: #ccc;
}
.slide-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
}
.slide-button {
  background: #f42828;
  color: #fff;
  padding: 20px 50px;
  border: none;
  font-size: 18px;
  font-family: "Mohave", sans-serif;
}
.slide-button:hover{
  cursor: pointer;
}
@media (max-width: 991px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
